body{
    width: 100%;
    height: 100%;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
    )
    calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
    );
    background-size: var(--s) calc(var(--s) * 0.577);
}
.container-fluid {
    height: 100vh;

}

.bg-image,
.bg-dark {
    min-height: 100vh;
}

h3 {
    margin-bottom: 1.5rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.col-md-4{
    background-image: url('https://wallpapers.com/images/hd/dark-pixel-jxr9sa3gdswz4no7.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.mb-2{
    color:white;
}

